<section class="catalog-section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-card-list list">
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-1-min.png    1x,
                  ./img/catalog/image-1-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-1mob-min.png    1x,
                  ./img/catalog/image-1mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-1mob-min.png 335w,
                  ./img/catalog/image-1mob-min.png 276w
                "
                src="./img/catalog/image-1mob-min.png "
                alt="Tube Watch S42 Date Steel With Black Case"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title one">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="card-price">€395</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-2-min.png    1x,
                  ./img/catalog/image-2-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-2mob-min.png    1x,
                  ./img/catalog/image-2mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-2mob-min.png 335w,
                  ./img/catalog/image-2mob-min.png 276w
                "
                src="./img/catalog/image-2mob-min.png "
                alt="Avondale Watch Police For Men"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Avondale Watch Police For Men</h3>
            <p class="card-price">€800</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-3-min.png    1x,
                  ./img/catalog/image-3-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-3mob-min.png    1x,
                  ./img/catalog/image-3mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-3mob-min.png 335w,
                  ./img/catalog/image-3mob-min.png 276w
                "
                src="./img/catalog/image-3mob-min.png "
                alt="Diver  300M Co-Axial Master Chronometer Chronograph"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title three">
              Diver 300M Co-Axial Master Chronometer Chronograph
            </h3>
            <p class="card-price">€600</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-4-min.png    1x,
                  ./img/catalog/image-4-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-4mob-min.png    1x,
                  ./img/catalog/image-4mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-4mob-min.png 335w,
                  ./img/catalog/image-4mob-min.png 276w
                "
                src="./img/catalog/image-4mob-min.png "
                alt="Diver 300M Co-Axial Master Chronometer"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Diver 300M Co-Axial Master Chronometer</h3>
            <p class="card-price">€1400</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-5-min.png    1x,
                  ./img/catalog/image-5-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-5mob-min.png    1x,
                  ./img/catalog/image-5mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-5mob-min.png 335w,
                  ./img/catalog/image-5mob-min.png 276w
                "
                src="./img/catalog/image-5mob-min.png "
                alt="Taman Watch By Police For Men"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Taman Watch By Police For Men</h3>
            <p class="card-price">€500</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-6-min.png    1x,
                  ./img/catalog/image-6-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-6mob-min.png    1x,
                  ./img/catalog/image-6mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-6mob-min.png 335w,
                  ./img/catalog/image-6mob-min.png 276w
                "
                src="./img/catalog/image-6mob-min.png "
                alt="Malawi Watch Police For Men"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Malawi Watch Police For Men</h3>
            <p class="card-price">€555</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-7-min.png    1x,
                  ./img/catalog/image-7-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-7mob-min.png    1x,
                  ./img/catalog/image-7mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-7mob-min.png 335w,
                  ./img/catalog/image-7mob-min.png 276w
                "
                src="./img/catalog/image-7mob-min.png "
                alt="Diver 300M Co-Axial Master Chronometer"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title seven">
              Diver 300M Co-Axial Master Chronometer
            </h3>
            <p class="card-price">€1200</p>
          </div>
        </a>
      </li>
      <li class="catalog-card">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <picture>
              <source
                srcset="
                  ./img/catalog/image-8-min.png    1x,
                  ./img/catalog/image-8-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/image-8mob-min.png    1x,
                  ./img/catalog/image-8mob-2x-min.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./img/catalog/image-8mob-min.png 335w,
                  ./img/catalog/image-8mob-min.png 276w
                "
                src="./img/catalog/image-8mob-min.png "
                alt="Greenlane Watch By Police For Men"
                sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
              />
            </picture>
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Greenlane Watch By Police For Men</h3>
            <p class="card-price">€1000</p>
          </div>
        </a>
      </li>
      <li class="catalog-card hidden">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <img
              srcset="./img/catalog/image-9-2x-min.png 2x"
              src="./img/catalog/image-9-min.png"
              width="335"
              height="360"
              alt="Squardrc 5402 Chrono"
            />
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Squardrc 5402 Chrono</h3>
            <p class="card-price">€359</p>
          </div>
        </a>
      </li>
      <li class="catalog-card hidden">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <img
              srcset="./img/catalog/image-10-2x-min.png 2x"
              src="./img/catalog/image-10-min.png"
              width="335"
              height="360"
              alt="Diver 300M Co-Axial Master Chronometer Chronograph"
            />
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title ten">
              Diver 300M Co-Axial Master Chronometer Chronograph
            </h3>
            <p class="card-price">€400</p>
          </div>
        </a>
      </li>
      <li class="catalog-card hidden">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <img
              srcset="./img/catalog/image-11-2x-min.png 2x"
              src="./img/catalog/image-11-min.png"
              width="335"
              height="360"
              alt="Citizen"
            />
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Citizen</h3>
            <p class="card-price">€519</p>
          </div>
        </a>
      </li>
      <li class="catalog-card hidden">
        <a class="catalog-link" href="">
          <div class="catalog-card-overlay">
            <img
              srcset="./img/catalog/image-12-2x-min.png 2x"
              src="./img/catalog/image-12-min.png"
              width="335"
              height="360"
              alt="Armani Exchange"
            />
            <div class="card-overlay-description">
              <h3 class="card-overlay-title">Description</h3>
              <p class="card-overlay-text bottom">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="card-overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="card-overlay-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel
                  </pre
              >
            </div>
          </div>
          <div class="catalog-card-border">
            <h3 class="card-title">Armani Exchange</h3>
            <p class="card-price">€400</p>
          </div>
        </a>
      </li>
    </ul>
    <button class="catalog-btn" type="button" data-modal-open>Buy now</button>
  </div>
</section>
