<footer class="footer">
  <div class="footer-section container">
    <div class="nav-media-container">
      <div class="logo-adress-container">
        <a class="footer-logo" href="./index.html">
          <img src="./img/logo-footer.svg" alt="logo-footer" />
        </a>

        <address class="address-footer">
          <ul class="adress-list-footer list">
            <li>
              <a class="adress-text-footer" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <a
                rel="noopener noreferrrer nofollow"
                target="_blank"
                class="adress-text-footer"
                href="https://goo.gl/maps/Yfn8MYMWKsNfN2FA6"
                >1678 S. Pioneer Road <br />
                Salt Lake City <br />
                UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>

      <div class="nav-container-footer">
        <ul class="list nav-list-footer">
          <li><a class="nav-text-footer" href="#about-us">About us</a></li>
          <li><a class="nav-text-footer" href="#catalog">Catalog</a></li>
          <li><a class="nav-text-footer" href="#sale">Sale</a></li>
        </ul>
      </div>

      <div>
        <ul class="list media-list-footer">
          <li class="media-item-footer">
            <a
              target="_blank"
              rel="noopener noreferrrer nofollow"
              class="link-media-footer"
              href="https://www.facebook.com/"
            >
              <svg class="icon-media-footer" width="24" height="24">
                <use href="./img/icons.svg#facebook-mobil"></use>
              </svg>
            </a>
          </li>
          <li class="media-item-footer">
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="link-media-footer"
              href="https://www.instagram.com/"
            >
              <svg class="icon-media-footer" width="24" height="24">
                <use href="./img/icons.svg#instagram-mobil"></use>
              </svg>
            </a>
          </li>
          <li class="media-item-footer">
            <a
              target="_blank"
              rel="noopener noreferrrer nofollow"
              class="link-media-footer"
              href="https://www.youtube.com/"
            >
              <svg class="icon-media-footer" width="24" height="24">
                <use href="./img/icons.svg#youtube-mobil"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-footer-container">
      <p class="text-footer">&#169;2022 The Watch Spot. All rights reserved.</p>
      <ul class="privacy-list list">
        <li><p class="text-footer">Privacy Policy</p></li>
        <li><p class="text-footer">Terms of Service</p></li>
      </ul>
    </div>
  </div>
</footer>
