/* ---------------MY STYLES RESET---------------- */

:root {
  --overlay-text: rgba(255, 255, 255, 0.5);
}

img {
  width: 100%;
}

pre {
  margin: 0;
}
/* ---------------MY STYLES RESET---------------- */
.catalog-section {
  background-color: var(--white);
  padding-top: 40px;
  padding-bottom: 40px;
}
.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.catalog-card {
  margin-bottom: 40px;
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
}
.catalog-link {
  display: block;
}
.catalog-card-overlay {
  position: relative;
  overflow: hidden;
}
.card-overlay-description {
  position: absolute;
  top: 0;

  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: var(--secondary-text-color);
  border-radius: 8px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 59px;
  height: 100%;

  transform: translateY(102%);
  transition: transform 250ms var(--time-function);
}
.catalog-link:hover .card-overlay-description,
.catalog-link:focus .card-overlay-description {
  transform: translateY(0);
}
.card-overlay-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white);
  padding: 6px 0;
  margin-bottom: 4px;
}
.card-overlay-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--overlay-text);
}
.card-overlay-text.bottom {
  margin-bottom: 14px;
}
.catalog-card-border {
  margin-top: 14px;
}
.card-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-title.one {
  white-space: nowrap;
  overflow: hidden;
  width: 266px;
  text-overflow: ellipsis;
}
.card-title.three {
  white-space: nowrap;
  overflow: hidden;
  width: 284px;
  text-overflow: ellipsis;
}

.card-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: var(--text-color-rgb);
}
.catalog-btn {
  display: block;
  margin-left: auto;

  justify-content: center;
  align-items: center;
  padding: 14px 28px;

  background-color: var(--secondary-text-color);
  border-radius: 8px;
  border: none;
  color: var(--white);
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.catalog-btn:before {
  height: 0%;
  width: 2px;
}
.catalog-btn:hover,
.catalog-btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  .catalog-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .catalog-card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-card {
    flex-basis: calc((100% - 32px) / 2);
    margin-right: 32px;
  }
  .catalog-card:nth-child(2n) {
    margin-right: 0;
  }
  .catalog-btn {
    padding: 18px 35px;
  }
}
@media screen and (max-width: 1279px) {
  .hidden {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-section {
    padding: 80px 0;
  }
  .catalog-card {
    flex-basis: calc((100% - 72px) / 4);
    margin-right: 24px;
    margin-bottom: 0;
  }
  .card-title.three {
    white-space: nowrap;
    overflow: hidden;
    width: 273px;
    text-overflow: ellipsis;
  }
  .card-title.seven {
    white-space: nowrap;
    overflow: hidden;
    width: 189px;
    text-overflow: ellipsis;
  }
  .card-title.ten {
    white-space: nowrap;
    overflow: hidden;
    width: 192px;
    text-overflow: ellipsis;
  }
  .catalog-card:nth-child(2n) {
    margin-right: 24px;
  }
  .catalog-card:nth-child(4n) {
    margin-right: 0;
  }
  .card-overlay-description {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-overlay-text.bottom {
    margin-bottom: 20px;
  }
  .catalog-card-list {
    row-gap: 64px;
  }
  .catalog-btn {
    margin-top: 80px;
  }
}
