.header-page {
  background-color: var(--background-color-hero);
}
.header-container {
  display: flex;
  padding-top: 20px;
  align-items: center;
}
.header-logo {
  display: flex;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--white);
  background-color: transparent;
}
.header-logo-icon {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: rgba(255, 255, 255, 1);
  transform: rotate(-180deg);
}
.header-btn-open {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  fill: var(--white);
}

/*====Menu Mobile========*/

.mobile-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 29px 20px;
  background-color: var(--secondary-text-color);
  z-index: 999;
  text-align: center;
  transform: translateX(100%);
  transition: transform 250ms var(--time-function);
}
.mobile-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  width: 767px;
}
.menu-logo {
  display: flex;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 200px;
}

.menu-list {
  margin: 0 auto;
}
.menu-item {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.menu-item:not(:last-child) {
  margin-bottom: 14px;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  top: 29px;
  right: 20px;
}
.mobile-close-icon {
  stroke: var(--white);
}

/*=====Menu Mobile close====*/
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-tel {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-btn-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-nav {
    display: flex;
  }
  .header-logo {
    font-size: 15px;
  }
  .header-list {
    display: flex;
    gap: 40px;
    margin-left: 80px;
  }
  .header-item {
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
  }
  .header-tel {
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 36px;
    margin-left: auto;
    color: var(--white);
    background-color: var(--secondary-text-color);
    border-radius: 8px;
  }
}
