.section-hero {
  padding-top: 69px;
  padding-bottom: 40px;
  background-color: var(--background-color-hero);
}

.hero-title {
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 38px;
  line-height: calc(40 / 38);
  letter-spacing: -0.04em;
  color: var(--white);
}

.swiper {
  display: inline-block;
  width: 266px;
  margin-left: 0;
  margin-bottom: 40px;
  background-color: transparent;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  background-color: #1e2827;
}

.swiper-slide img {
  width: 226px;
}

.swiper-btn-pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.swiper-buttons {
  display: flex;
  gap: 12px;
}

.swiper-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  stroke: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: transparent;
}

.swiper-btn:is(:hover, :focus) {
  stroke: var(--white);
  border: 1px solid var(--white);
  transition-property: stroke, border;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}

.swiper-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;

  width: 86px;
  height: 18px;
  color: var(--white);
}

.swiper-pagination-line {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 0;
  border: 1px solid var(--white);
}

.hero-description {  
  margin-bottom: 40px;
  width: 248px;
  margin-left: auto;
}

.hero-text {
  font-weight: 300;
  color: var(--white);
}

/* Media rules */

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .hero-container {
    position: relative;
  }

  .hero-title {
    width: 653px;
    font-size: 60px;
  }

  .swiper {
    width: 436px;
  }

  .swiper-slide {
    height: 255px;
  }

  .swiper-slide img {
    width: 348px;
  }

  .swiper-btn {
    width: 40px;
    height: 40px;
  }

  .btn-icon {
    width: 24px;
    height: 24px;
  }

  .swiper-pagination {
    width: 94px;
  }

  .swiper-pagination-line {
    width: 40px;
  }

  .hero-description {
    position: absolute;
    top: 316px;
    left: 476px;

    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .section-hero {    
    padding-bottom: 80px;
  }

  .hero-container {
    position: relative;
  }

  .hero-title {
    width: 750px;
    margin-bottom: 122px;
  }

  .swiper {
    margin-bottom: 0;
  }

  .hero-description {
    position: absolute;
    top: 0;
    left: 914px;

    width: 282px;
  }

  .hero-img {
    position: absolute;
    left: 520px;
    bottom: 0;
  }
}
